@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap");
img {
  width: 100%;
}
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  color: white;
  height: 100vh;
  padding: 0 0.25rem;
  font-family: inter;
  line-height: 1.5rem;
}

h2 {
  line-height: 2.5rem;
  font-size: 1.8rem;
}
.container {
  background-color: hsl(244, 38%, 16%);
  margin-bottom: 1rem;
  max-width: 375px;
}
li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0;
}
article {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 21rem;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
}
.rounder-bottom {
  border-radius: 0 0 10px 10px;
}

.rounder-top {
  border-radius: 10px 10px 0 0;
}
.rounder-all {
  border-radius: 10px 10px 10px 10px;
}

.capitalize {
  font-family: lexend deca;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  color: hsla(0, 0%, 100%, 0.6);
}
.purple {
  color: hsl(277, 64%, 61%);
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.canvas {
  background: hsl(277, 64%, 61%);
}
.canvas img {
  display: block;
  width: 100%;
  opacity: 0.6;
}
@media (min-width: 1080px) {
  body {
    background-color: red;
  }
}
